.CardExpanded {
  z-index: 1;
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
}

.inner-card {
  margin: 0px auto;
  border: 6px solid $darkblue;
  display: inline-block;
  font-family: $body-font;
  width: 80%;
  color: white;
  background-color: $ice;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: lowercase;
}

.card-info {
  margin-top: auto;
  margin-bottom: auto;
}

.card-name {
  font-family: $heading-font;
  font-size: 40px;
}

.image-expanded {
  margin: 30px auto;
  height: 300px;
}

.card-amiibo-series,
.card-game-series,
.card-date {
  font-size: 25px;
}

.exit-button {
  margin-bottom: 30%;
  text-align: center;
  padding: 5px 15px;
  font-size: 30px;
  border: 2px solid white;
  background-color: $salmon;
}