a {
  text-decoration: none;
  color: white;
}

.card-link {
  margin-right: 20px;
  width: 400px;
  border: 10px solid $ice;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("images/card-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.preview-name {
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: $heading-font;
  text-transform: lowercase;
}

.preview-image {
  height: 200px;
  margin: 20px auto;
}

.card-link:hover {
  box-shadow: inset -5px 0 20px white, inset 0 -5px 20px white, inset 5px 0 20px white, inset 0 5px 20px white;
}

