.CardCarousel {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  background-color: $brightpink;
  margin: 20px 0px;
  border-top: 20px solid $darkblue;
  border-bottom: 20px solid $darkblue;
}

.empty-message {
  font-family: $heading-font;
  color: white;
  text-align: center;
  font-size: 30px;
}