a {
  text-decoration: none;
  color: white;
}

.card-link {
  margin-right: 20px;
  width: 400px;
  border: 10px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $neutralpurple;
}

.preview-name {
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: $heading-font;
  text-transform: lowercase;
}

.preview-image {
  height: 200px;
  margin: 20px auto;
}

