a {
  text-decoration: none;
  color: white;
}

.cardLink {
  margin-right: 20px;
  width: 400px;
  border: 10px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $ice;
}

.previewName {
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: $heading-font;
}

.previewImage {
  height: 200px;
  margin: 20px auto;
}

