html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.load-text {
  color: white;
  text-align: center;
  font-size: 50px;
  margin: 60px auto;
  font-family: $heading-font;
}